
body{
  background-color: rgb(0, 0, 0);
}

.events{
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-width: 2px;
  margin-left: -220px;
  margin-top: 250px;
  
}

.yearName-style{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.calendar-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-left:150px;
}



.calendar-month {
  padding: 8px;
  text-align: center;
  width: fit-content;
}


.calendar-month h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
  justify-items: center;
  width: 212px;
}
.calendar-day {
  padding: 2.4px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.marked {
  background-color: #fffbfb7a;
  color: rgb(255, 255, 255);
  border-radius:60% ;
  height: 25px;
  width: 25px;
  
}